html, body {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

#barraSuperior{
    background-color: forestgreen;
}

#barraSuperior2{
    background-color: dimgray;
    color: white;
    text-align: right;
}

#contenido-ppal{
    text-align: center;
    
    
}

#contenido-ppal2{
    text-align: left;
    
}

#cursos{
    margin-bottom: 120px;
    
}

#footer{
    background-color:  gainsboro;
    text-align: center;
    padding: 5px;
    
}

#cursoDestacado{
    background-color: #FFFFFA;
    border: 1px solid #848484;
    -webkit-border-radius:10px; 
}

.list-group-item{
    margin-bottom: 20px;
    padding: 0px;
}

#curso-panelderecha{
    padding: 20px;
    margin: 0px;
    background-color: whitesmoke;
}

#curso-tiulo{
    color: skyblue;
}


.SearchIcon
{
    color:#fff;

}
.SearchButton
{
    background-color:#ED1C24;
    border-radius:1px;
}
.SearchButton:hover{
    background-color:#C4161C;
}

.SearchBar{

}