html, body {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

#barraSuperior{
    background-color: mediumseagreen;
}

#barraSuperior2{
    background-color: black;
    color: white;
    text-align: right;
}

#contenido-ppal{
    text-align: center;
}

#footer{
    background-color:  gainsboro;
    text-align: center;
    padding: 40px;
}

#cursoDestacado{
    background-color: ghostwhite;
    border: 1px solid #848484;
    -webkit-border-radius:10px; 
}


.SearchIcon
{
    color:#fff;

}
.SearchButton
{
    background-color:#ED1C24;
    border-radius:1px;
}
.SearchButton:hover{
    background-color:#C4161C;
}

.SearchBar{

}